//--------------------------------------------------------------------
// Styles
//--------------------------------------------------------------------

$font-range:		"Range Mono", Helvetica Neue, sans;
$gold:				#a39161;
$coal:				#333;				
$silver:			#ccc;
$cloud:				#f8f8f8;
$white:				#fff;
$space-25:		    25px;
$space-15:		    15px;

.button {
	border-radius: 4px;
	font-family: $font-range;
	display: block;
	padding: $space-15;	
	border: 0;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	text-align: center;
	margin-top: $space-25;
	width: 80%;
	max-width: 300px;
}

.bg-gold {
	background-color: $gold;
	color: $white;
} 

.bg-white {
	background-color: $white;
	color: $gold;
} 

.bg-cloud {
	background-color: $cloud;
	padding: $space-25;
}

.ovo-logo {
	max-width: 80px;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: $space-25;
}

.drake-logo {
	text-align: center;
	display: block;
	margin-top: $space-15;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	max-width: 347px;
}

.text-center {
	text-align: center;
}

.ipsum-controls {
	position: relative;
}

.ipsum-generate {
	background-image: url(../img/arrow.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	border: 0;
  	position: absolute;
  	right: 9%;
  	top: 50%;
  	transform: translateY(-139%);

}

small {
	font-size: 16px;
	color: $silver;
	font-family: $font-range;
	display: block;
	text-align: center;
	line-height: 1.4;
}

input.ipsum	 {
	padding: $space-15;
	margin-top: $space-15;
	border: 1px solid $silver;
	border-radius: 4px;
	font-family: $font-range;
	font-size: 50px;
	color: $silver;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
	max-width: 500px;
	transition: border .5s ease-in-out;
	color: $coal;
	&:focus {
		border: 1px solid $gold;
		transition: border .5s ease-in-out;
	}
}

input:focus { outline: none; }

::-webkit-input-placeholder { 
    color:    $silver;
}
:-moz-placeholder { 
   color:    $silver;
   opacity:  1;
}
::-moz-placeholder {
   color:    $silver;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    $silver;
}

p {
	font-family: $font-range;
	color: $coal;
	line-height: 1.8;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

.ipsum-text {
  padding: $space-25;

}

footer {
	background-color: $gold;
	color: $white;
	font-family: $font-range;
	padding: $space-25;
	text-align: center;
	.button {
		margin-top: 0;
	}

	a {
		color: $white;
		text-decoration: none!important;
	}

	hr {
		margin-top: $space-25;
		margin-bottom: $space-25;
		max-width: 500px;
		border: 1px white solid;
		opacity: 0.5;
	}

	small {
		margin-top: $space-15;
		color: $white;
	}
}

form {
	max-width: 600px;
  	margin: 0 auto;
  	position: relative;
}
